/*
         File Name: app.css
    Student's Name: Ho Yin Wong
         StudentID: 301290744
              Date: 28 October 2022
*/
.btn-group button {
    background-color: #34335e; 
    border: 1px solid rgb(0, 0, 0);
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 75%; 
    display: block;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none;
}
  
.btn-group button:hover {
    background-color: #564ecf;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}
table, th, td {
    border:1px solid black;
}


td, th{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.projdesc {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .projdesc:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}